


<div class=" sm:w-full  lg:w-[32%] p-1 group ">
    <div class="w-full h-[347px] bg-[#F0F2F1] relative flex justify-center items-center overflow-hidden">
      {% if product_product.featured_image %}
        <img src="{{ product_product.featured_image |  img_url: 'large' }}" alt="{{ product_product.image.alt }}" width="" height="" class="object-center object-cover w-full h-full">
        {% else %}
        {{ 'product-1' |  placeholder_svg_tag }}
      {% endif %}

    <div class="w-[90%] p-[0.5em] bg-[rgba(113,205,20,0.55)] absolute bottom-0 flex justify-evenly items-center translate-y-[5em] group-hover:-translate-y-[0em] duration-500 ">
        <div class="flex p-[0.6em] justify-center items-center rounded-full bg-white hover:bg-green-500 hover:text-white duration-300"><i class="fa-solid fa-eye text-[1em]"></i></div>
        <div class="flex p-[0.6em] justify-center items-center rounded-full bg-white hover:bg-green-500 hover:text-white duration-300"><i class="fa-solid fa-heart "></i></div>
        <form class="add-to-cart-form" data-product-id="{{ product_product.selected_or_first_available_variant.id }}" >
            <input type="hidden" name="id" value="{{ product_product.variants.first.id }}">
            <button type="submit" class="add-to-cart-button flex p-[0.6em] justify-center items-center rounded-full bg-white hover:bg-green-500 hover:text-white duration-300 cursor-pointer"><i class="fa-solid fa-cart-shopping"></i></button>
        </form>
       
    </div>
    </div>
    <div class="w-full h-[99px]  border-[1px]  border-slate-300 p-[1.5em] flex flex-col justify-center gap-[0.5em]">
        <p class="text-[14px] roboto group-hover:text-green-500 duration-300">{{ product_product.title }}</p>
        <div class="w-full flex gap-[1.3em] items-center  ">
            <p class="text-[20px] roboto">{{ product_product.price |  money }}</p>
        
        </div>
    </div>
</div>


