<div class="w-full max-w-[1440px] mx-auto p-2  mb-[8em] flex justify-center items-center flex-col sm:px-[5em]  ">
    <h1 class="text-center text-[24px] font-bold  py-[0.5em] mb-[0.5em] px-[0.5em] border-b-[1px] border-slate-300">{{ section.settings.title }}</h1>

    <p class="text-[14px] text-slate-500 mb-[4em]">Bring called seed first of third give itself now ment</p>

    <div class="w-full min-h-[31.5em] lg:h-[31.5em]  flex justify-between items- flex-wrap lg:flex-nowrap gap-4 lg:gap-0">
        {% liquid
            
        assign blog_latest = blogs['tech'] 
        %}
        {% for latest_blog in blog_latest.articles limit : 3   %}
            
            <a href="{{ latest_blog.url }}" class="w-full  md:w-[47%] lg:w-[32%] h-full  group border-[0.5px] border-slate-100">
                <div class="w-full  flex justify-center items-center h-[50%] ">
                     {% if latest_blog.image %}
                        <img src="{{ latest_blog.image |  img_url: 'large' }}" alt="{{ latest_blog.image.alt }}" width="" height="" class="object-center object-cover w-full h-full">
                        {% else %}
                            
                        {{ 'product-1' |  placeholder_svg_tag : 'group-hover:scale-[1.1] duration-300' }}
                     {% endif %}                 

                </div>

                <div class="w-full h-[50%] py-[1.5em] px-[0.5em]  flex flex-col justify-between gap-6 lg:gap-0">
                     
                   <div class="flex gap-[2em] items-center">
                     <p class="text-[14px] roboto text-slate-400">{{ latest_blog.author }}</p>
                     <p class="text-[14px] roboto text-slate-400"> {{ latest_blog.comments_count }} Comments</p>
                   </div>

                    <h1 class="text-[20px] roboto group-hover:text-green-400 duration-300">{{ latest_blog.title |  truncate: 40 }}</h1>
                    <p class="text-[15px] text-[rgb(121,121,121)]">{{ latest_blog.content | truncate : 100 }}</p>

                    <div class="flex gap-2 justify-start items-center text-[12px] ">
                        <p class="group-hover:text-green-400  duration-300">LEARN MORE</p>
                        <i class="fa-solid fa-arrow-right group-hover:translate-x-[4px] duration-300 cursor-pointer group-hover:text-green-400  "></i>
                    </div>
                </div>

            </a>
        {% endfor %}
        
        
    </div>

</div>


{% schema %}
{
    "name": "Lates Blogs",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "LATEST BLOGS",
            "label": "Title"
        }
       
        ],

        "presets": [
            {
                "name": "latest_blogs"
            }
        ]
}
{% endschema %}